header {
    background-color: $bg_claro;
    h1 {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: white;
    }
    img {
        border-radius: 10px;
    }
}